<li class="mb-1">
    <div class="form-check">
        <input onclick="listImages(id)" type="checkbox" class="form-check-input" id=<%=tag%> />
        <label class="form-check-label" for=<%=tag%>><%=tag%> </label> </div>
</li>