<header>
    <nav class="navbar navbar-expand navbar-dark fixed-top bg-dark">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto pl-5">
                <li class="nav-item">
                    <a class="nav-link" href="/image">Lista</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/image/new">Klasszifikálás</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Kilépés</a>
                </li>
            </ul>
        </div>
    </nav>
</header>